/* Styles for the front page */

.heading-homepage {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: calc(10px + 6vmin);
  line-height: calc(10px + 6vmin);
  text-align: center;
  color: #4d4125;
}

.about-us {
  color: #4d4125;

  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: calc(6px + 1vmin);
  line-height: calc(10px + 2vmin);
  text-align: center;
  width: 60%;
}

.dive-in {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.frontpage-button {
  width: 1000px;
  margin-top: 0;
}

#mascot {
  margin: 0 auto 0 auto;
}

@media (max-device-width: 500px) {
  #mascot img {
    transform: scale(0.75, 0.75);
  }

  .about-us {
  }
  .frontpage-button {
    width: auto;
    margin-top: 0;
  }
}

#user-button {
  position: absolute;
  left: 0;
  top: 0;
  filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.1));
}

#user-button:active {
  filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.7));
}
#user-buttonA:hover #path1 {
  fill: #ffa4a4;
}
#user-buttonA:hover circle {
  fill: #ffe9e9;
}
