/* Styles for the game page. */

.correct {
    background: green;
}

.incorrect {
    background: red;
}

/* 'Offical' duration workaround: https://github.com/HubSpot/odometer/issues/91 */
.odometer.odometer-animating-up .odometer-ribbon-inner, .odometer.odometer-animating-down.odometer-animating .odometer-ribbon-inner {
    -webkit-transition-duration: 600ms !important;
    -moz-transition-duration: 600ms !important;
    -o-transition-duration: 600ms !important;
    transition-duration: 600ms !important
}

.scoreCounter {
    color: white;
    background-color: #efb84a;
    border-radius: 20px;
    max-width: 70px;
    font-size: 28px;
    margin: 0 auto;
}

.trashBlock {
    width: 200px;
    height:200px;
    background-color: #76603E;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.trashBlockText{
    margin-left: auto;
    margin-right: auto;
    font-family: Roboto, sans-serif;
    font-weight: bold;
}

.trashInnerBlock {
    background-color: #ffebb0;
    border-radius: 15px;
    width:180px;
    height:180px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.gameCenterWrapper {
    display:flex;
    align-items: center;
    flex-direction: column;
    margin-top: 3%
}


.bins {
    margin: auto 0;
}

.heading-postgame {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: calc(10px + 6vmin);
    line-height: calc(10px + 6vmin);
    text-align: center;
    color: #4D4125;
}

.postgame-content{
    color: #4D4125;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: calc(8px + 1vmin);
    line-height: calc(10px + 2vmin);
    text-align: center;
}
