.update-name {
  color: #4d4125;
  margin: 1%;
}

.update-form {
  position: absolute;
  width: 100%;
  height: 40%;
  bottom: 10%;
}

.edit-button {
  position: absolute;
  top: 19%;
  left: 64%;
  z-index: 20;
}
