.App {
  text-align: center;
  background-color: #7EC8DD;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Small-link-div {
  position: absolute;
  right:15px;
  top:5px;
}

.Small-link {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 25px;
  text-align: center;

  margin: 0 5px;
  color: #76603E;
}

#GoBackButton {
  position: absolute;
  width: 88.81px;
  height: 86.11px;
  left: 0;
  top: 0;
  filter: drop-shadow( 2px 2px 1px rgba(0, 0, 0, .7));
}
#GoBackButton:active {
  filter: drop-shadow( 0px 0px 0px rgba(0, 0, 0, .7));
}

#GoBackButtonA:hover path { fill: #FFA4A4 }
#GoBackButtonA:hover rect { fill: #FFE9E9 }

#ExitGameButton {
  position: absolute;
  width: 88.81px;
  height: 86.11px;
  left: 0;
  top: 0;
  filter: drop-shadow( 2px 2px 1px rgba(0, 0, 0, .7));
}
#ExitGameButton:active {
  filter: drop-shadow( 0px 0px 0px rgba(0, 0, 0, .7));
}

#ExitGameButtonA:hover path { fill: #FFA4A4 }
#ExitGameButtonA:hover rect { fill: #FFE9E9 }

.heading1 {
  position: absolute;
  left: 0;
  right: 0;
  top: 25%;
  bottom: 0;

  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: calc(10px + 6vmin);
  line-height: calc(10px + 6mvin);
  text-align: center;
  color: #4D4125;
}

.heading-postgame {
  position: absolute;
  left: 0;
  right: 0;
  top: 10%;
  bottom: 0;

  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 75px;

  text-align: center;

  color: #4D4125;
}

.heading-homepage {
  position: absolute;
  left: 0;
  right: 0;
  top: 150px;

  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: calc(10px + 6vmin);
  line-height: calc(10px + 6vmin);
  text-align: center;
  color: #4D4125;
}

.about-us {
  color: #4D4125;
  position: absolute;
  left: 13.41%;
  right: 13.41%;
  top: 300px;

  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: calc(8px + 1vmin);
  line-height: calc(10px + 2vmin);
  text-align: center;
}

.text1 {
  color: #4D4125;
  position: absolute;
  left: 13.41%;
  right: 13.41%;
  top: 40%;
  bottom: 59.45%;

  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: calc(10px + 2vmin);
  font-size: calc(10px + 2vmin);
  text-align: center;
}

.form-module {
  position: absolute;
  left: 0;
  right: 0;
  top: 44%;
  bottom: 0;
  margin-top: 100px;
}

.dive-in {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.frontpage-button {
  position: absolute;
  left: 0;
  right: 0;
  top: 65%;
  bottom: 0;
  margin-top: 100px;
  z-index: 10;
}

#mascot {
  position: absolute;
  left: 0;
  right: 0;
  top: 40%;
  margin: 100px auto 0px auto;
}

@media (max-device-width: 500px) {
  #mascot img {
    transform: scale(0.5, 0.5);
  }
}

.modal-title {
  padding: 0px 0px 0px 0px;
  margin-top: 0px;
  margin-bottom: -20px;
  height:62px;
  display: block;

  text-align: center;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 62px;
  color: #EDEDED;
}

.modal-content {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 38px;

  width: 400px;
  display: block;
  background-color: transparent;
  text-align: center;
  color: #EDEDED;

}

.modal-clickout {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  color: #EDEDED;
  bottom:0%;
}

.modal-graphic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:23%;
}

.modal-sadface {
  text-align: center;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 62px;

  display: block;
  color: #EDEDED;
  margin-left: auto;
  margin-right: auto;
  width:23%;
}

.diver-cert-card {
  position: absolute;
  display: block;
  margin-left: auto;
  margin-right: auto;
  top:33.5%;
  left:27.5%;
  width:45%;
}

.postgame-content {
  color: #4D4125;
  position: absolute;
  top: 23%;
  left: 10%;
  right: 10%;

  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 28px;
  line-height: 30px;
  text-align: center;
}

.play-again-button {
  position: absolute;
  left: 0;
  right: 0;
  top: 65%;
  bottom: 0;
  margin-top: 100px;
  z-index: 10;
}
