.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #7EC8DD;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Small-link-div {
  position: absolute;
  left: 55%;
  right: 0%;
  top: 36%;
  bottom: 0%;
}

.Small-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;

  color: #76603E;
}

#GoBackButton {
  position: absolute;
  width: 88.81px;
  height: 86.11px;
  left: 311.49px;
  top: 178px;
  filter: drop-shadow( 2px 2px 1px rgba(0, 0, 0, .7));
}
#GoBackButton:active {
  filter: drop-shadow( 0px 0px 0px rgba(0, 0, 0, .7));
}

#GoBackButtonA:hover path { fill: #FFA4A4 }
#GoBackButtonA:hover rect { fill: #FFE9E9 }

.heading1 {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 37%;
  bottom: 0%;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 75px;

  text-align: center;

  color: #4D4125;

}

.heading-homepage {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 50%;
  bottom: 0%;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 75px;

  text-align: center;

  color: #4D4125;

}

.about-us {
  color: #4D4125;
  position: absolute;
  left: 13.41%;
  right: 13.41%;
  top: 65%;
  bottom: 59.45%;

  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 18px;
  line-height: 21px;
  text-align: center;

}

.text1 {
  color: #4D4125;
  position: absolute;
  left: 13.41%;
  right: 13.41%;
  top: 50%;
  bottom: 59.45%;

  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.signupbutton {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 60%;
  bottom: 0%;
  margin-top: 100px;

}

#frontpage-button {
  position: absolute;
  z-index: -1;
  margin: auto;
  top:70%;
}

#mascot {
  position: absolute;
  width: 300px;
  height: 226px;
  left: 38%;
  top: -260%;
}


.button-container {
  position: relative;
  top: 80%;
}
