.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #7EC8DD;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#GoBackButton {
  position: absolute;
  width: 88.81px;
  height: 86.11px;
  left: 311.5px;
  top: 179px;
}

#GoBackButtonA:hover path { fill: #FFA4A4 }
#GoBackButtonA:hover rect { fill: #FFE9E9 }

.heading1 {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 37%;
  bottom: 0%;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 75px;
/* identical to box height */

  text-align: center;

  color: #4D4125;

}

.text1 {
  color: #4D4125;
  position: absolute;
  left: 13.41%;
  right: 13.41%;
  top: 50%;
  bottom: 59.45%;

  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.signupbutton {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 60%;
  bottom: 0%;
  margin-top: 100px;

}
