.App {
  text-align: center;
}

.yellow-part {
  position: relative;
  border: black solid;
  align-content: center;
  width: 1279px;
  height: 781px;
  left: -25px;
}

#yellow-part {
  position: relative;
  border: black solid;
  align-content: center;
  width: 1279px;
  height: 781px;
  left: -25px;
}

.modal {
  position: relative !important;
  align-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #7EC8DD;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Small-link-div {
  position: absolute;
  right:15px;
  top:5px;

}

.Small-link {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 0;
  margin-bottom: 0;

  color: #76603E;
}

#GoBackButton {
  position: absolute;
  width: 88.81px;
  height: 86.11px;
  left: 0;
  top: 0;
  filter: drop-shadow( 2px 2px 1px rgba(0, 0, 0, .7));
}
#GoBackButton:active {
  filter: drop-shadow( 0px 0px 0px rgba(0, 0, 0, .7));
}

#GoBackButtonA:hover path { fill: #FFA4A4 }
#GoBackButtonA:hover rect { fill: #FFE9E9 }

.heading1 {
  position: absolute;
  left: 0;
  right: 0;
  top: 25%;
  bottom: 0;

  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 75px;

  text-align: center;

  color: #4D4125;

}

.heading-homepage {
  position: absolute;
  left: 0;
  right: 0;
  top: 150px;

  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 75px;

  text-align: center;

  color: #4D4125;

}

.about-us {
  color: #4D4125;
  position: absolute;
  left: 13.41%;
  right: 13.41%;
  top: 300px;

  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 18px;
  line-height: 21px;
  text-align: center;

}

.text1 {
  color: #4D4125;
  position: absolute;
  left: 13.41%;
  right: 13.41%;
  top: 40%;
  bottom: 59.45%;

  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.form-module {
  position: absolute;
  left: 0;
  right: 0;
  top: 44%;
  bottom: 0;
  margin-top: 100px;

}

.frontpage-button {
  position: absolute;
  left: 0;
  right: 0;
  top: 65%;
  bottom: 0;
  margin-top: 100px;
  z-index: 10;
}

#mascot {
  position: absolute;
  left: 0;
  right: 0;
  top: 40%;
  margin-top: 100px;
}

.modal-h1 {
  position:absolute;
  width: 358px;
  height: 61px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  text-align: center;

  color: #EDEDED;

}

.modal-graphic {
  border: white solid;
  position: absolute;
  left:50%
}
