/* Styles for shared components. */

a {
  text-decoration: none;
}

.modal-title {
    padding: 0px 0px 0px 0px;
    margin-top: 4%;
    margin-bottom: 0%;
    height:62px;
    display: block;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 62px;
    color: #EDEDED;
  }

  .modal-content {
    font-family: Roboto, sans-serif;
    margin-top: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 38px;
    width: 400px;
    display: block;
    background-color: transparent;
    text-align: center;
    color: #EDEDED;
  }

  .modal-clickout {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    padding-top: 2%;
    color: #EDEDED;
  }

  .modal-cross {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:23%;
  }

  .modal-stopwatch {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:28%;
  }

  .modal-sadface {
    text-align: center;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 62px;

    display: block;
    color: #EDEDED;
    margin-left: auto;
    margin-right: auto;
    width:23%;
}

#GoBackButton {
  position: absolute;
  width: 88.81px;
  height: 86.11px;
  left: 0;
  top: 0;
  filter: drop-shadow( 2px 2px 1px rgba(0, 0, 0, .7));
}
#GoBackButton:active {
  filter: drop-shadow( 0px 0px 0px rgba(0, 0, 0, .7));
}

#GoBackButtonA:hover path { fill: #FFA4A4 }
#GoBackButtonA:hover rect { fill: #FFE9E9 }
